package main

templ normalMessage(user, msg string) {
	<div id="echo" hx-swap-oob="beforeend">
		<div class="message"><strong>{ user }:</strong> { msg }</div>
	</div>
	<div id="validation_errors"></div>
}

templ errorMessage(err string) {
	<div id="validation_errors">
		<div style="color:red">{ err }</div>
	</div>
}
